* {
    margin: 0;
    padding: 2px;
    box-sizing: border-box;
  }

.myDiv {
    border: 5px outset blue;
    background-color: rgb(144, 205, 40);
    text-align: center;
}

 h1{
    color: chocolate;
    margin: 20px 0px;
    height: 10vh;
    min-height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
 }

body > section > div > h1{

        text-align: justify;
        background-color: rgb(106, 71, 139);
        color: white;
        display: inline;
        border-radius: 10px;
        font-family: 'Courier New', Courier, monospace;
    
} 

#pExplication{
    color: brown;
} 

body{
    background-color: blanchedalmond;
}

table, th, td {
    border: 1px solid rgb(97, 42, 165);
    background-color: rgb(236, 193, 193);
    tr :hover{background-color: coral;}
   

}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: justify;
    background-color: #04AA6D;
    color: white;
}

.mi-div{
    width: 700px;
    height: 300px;
    border: 4px dotted rgb(205, 171, 122);
    background-image: url("https://radiovillamaria.com.ar/archivos/img/m/175643_1716898744_497.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.mySBDiv{
    max-width: 400px;
    font-size: 16px;
    line-height: 1.5;
    width: 400px;
    height: 300px;
    border: 3px outset rgb(164, 147, 180);
    background-color: rgb(169, 200, 156);
    text-align: center;
    color:white;
    text-shadow: 3px 3px 2px black;
    box-shadow: 5px 10px rgb(97, 42, 165);
    overflow: scroll;
}

.divCenter{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

#divTitulo{
    border: 5px outset rgb(128, 128, 169);
    background-color: rgb(100, 108, 54);
    text-align: center;
    align-items: center;
    flex-direction: column;
}

#h1-color{
    color: rgb(196, 204, 212);
}

.in-block{
    display: inline-block;
    
}

.table{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.form{
    margin: auto;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
}

.ul-orientation{
    margin-left: 20px;
    display: flex;
    flex-direction: column;

}

.div-orientation-ol{
    display: flex;
}

.div-orientation-gif{
    display: flex;
    flex-direction: row-reverse;
}

.div-cointainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.div-container-mejorado {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#div1 {
    font-size: small;
    color: rgb(12, 11, 11);
    text-shadow: 2px 2px 2px rgb(97, 91, 103);
    font-style: italic;
    text-align: center;
    max-width: 400px;
    display: flex;
}

#div2 {
    max-width: 400px;
    font-size: 16px;
    line-height: 1.5;
    width: 400px;
    border: 3px outset rgb(164, 147, 180);
    background-color: rgb(169, 200, 156);
    text-align: center;
    color: white;
    text-shadow: 3px 3px 2px black;
    box-shadow: 5px 10px rgb(97, 42, 165);
    overflow: scroll;
}
  
  main {
    background-color: rgb(49, 234, 95);
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;

  }
  
  section {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  
#div-center-orientation{
    background-color: rgb(255, 177, 75);
    height: 10vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
 
}

#div-trhee-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

  .div-color{
    background-color: aquamarine;
  }

  .div-noticia{
    color: gold;
    background-color: rgb(141, 147, 102);
  }

.titulo {
    text-align: center; 
    font-size: 24px;
    margin-bottom: 20px;
  }
  


  